
:root {
	--app-color1: #fff5cf;
	--app-color2: #FF8C00;
	--app-color3: #000000;
    --app-color4: #ffffff;
    --app-color5: #F2DC0D;
	--app-font1: 'Griffy';

}

body,
html {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	height: auto;
    font-family: var(--app-font1);
	font-size: 18px;
	letter-spacing: 0;
	line-height: 1.5;
	font-weight: 400;
	color: var(--app-color4);
	background-color: var(--app-color3);
	position: relative;
    text-align: center;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

html:after,
html:before {
	clear: both;
	display: table;
	content: '';
}

html {
	overflow-x: hidden;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 900;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--app-color2);
    padding: 20px;
    display: block;
}

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form-input {
    width: 100%;
    padding: .65rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 0;
    font-family: var(--app-font1);
    color: var(--app-color3);
    font-size: 1.5rem;
}
/*
.quote {
    background: url(../img/lapide.png) no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--app-color4);
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 300px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-text {
    width: 80%;
    max-width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .quote {
        width: 100%;
        min-height: 250px;
        padding: 10px;
    }
    #quote-text {
        font-size: 1rem;
        width: 90%;
        max-width: none;
    }
}

@media (max-width: 400px) {
    .quote {
        min-height: 200px;
    }
    #quote-text {
        font-size: 0.9rem;
    }
}

*/

.quote {
    max-width: 860px;
    margin: 0 auto;
    background-color: var(--app-color4);
    color: var(--app-color3);
    border: 4px solid var(--app-color3);
    border-radius: 30px;
    padding: 40px 40px;
    text-align: center;
    font-weight: 700;
    font-family: var(--app-font1);
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 10px solid;
    display: none;
}


.button {
    text-decoration: none;
    text-align: center;
    font-family: var(--app-font1);
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: var(--app-color2);
    color: var(--app-color3);
    padding: 20px 100px;
    border: 4px solid var(--app-color3);
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-bottom: 10px solid;
    position: relative;
    margin-top: 1rem;
   
}
.button:hover ,
.icon:hover {
   transform: translateY(-4px);
   transition: all .2s ease-in;

}
.icon {
    border: 0;
    background: url(../img/icon.png)no-repeat;
    width: 60px;
    height: 60px;
    background-size: contain;
    color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom:40px;
}
@media (max-width: 600px) {
    #video-bg {
        height: auto;
        width: 100vw;
        height: 100vh;
    }
    .container {
        padding: 10px;
    }
}